@model IEnumerable<BookingTourHutech.ViewModels.CartItem>
@{
    ViewData["Title"] = "Index";
}



<body>
   
    <!-- Cart Page Start -->
    <div class="container-fluid py-5">
        <div class="container py-5">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Tour</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity People</th>
                            <th scope="col">Total</th>
                            <th scope="col">Remove</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                              
                                <td>
                                    <p class="mb-0 mt-4">
                                        <a class="text-decoration-none text-black" asp-action="Detail" asp-controller="Tour" asp-route-id="@item.TourId">
                                            @item.TourName
                                        </a>
                                    </p>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4">@item.TourPrice.ToString("#,##0.00")VND</p>
                                </td>
                                <td>
                                    <div class="input-group quantity mt-4" style="width: 100px;">
                                        <div class="input-group-btn">
                                            <form asp-action="Down" asp-controller="Cart" asp-route-id="@item.TourId">
                                                <button class="btn btn-sm btn-minus rounded-circle bg-light border">
                                                    <i class="fa fa-minus"></i>
                                                </button>
                                            </form>

                                        </div>
                                        <input type="number" class="form-control form-control-sm text-center border-0" value="@item.QuantityPeopele" min="4" name="Quantity">
                                        <div class="input-group-btn">
                                            <form asp-action="Up" asp-controller="Cart" asp-route-id="@item.TourId">
                                                <button class="btn btn-sm btn-plus rounded-circle bg-light border btn-plus">
                                                    <i class="fa fa-plus"></i>
                                                </button>
                                            </form>

                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="mb-0 mt-4" id="totalPrice">@item.TotalPriceTour.ToString("#,##0.00")VND</p>
                                </td>
                                <td>
                                    <a asp-action="RemoveCart" asp-controller="Cart" asp-route-id="@item.TourId" class="btn btn-md rounded-circle bg-light border mt-4">
                                        <i class="fa fa-times text-danger"></i>
                                    </a>
                                </td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
       
            <div class="row g-4 justify-content-end">
                <div class="col-8"></div>
                <div class="col-sm-8 col-md-7 col-lg-6 col-xl-4">
                    <div class="bg-light rounded">
                        <div class="p-4">
                            <h1 class="display-6 mb-4">Tạm  <span class="fw-normal">Tính</span></h1>
                            <div class="d-flex justify-content-between mb-4">
                                <h5 class="mb-0 me-4">Total:</h5>
                                <p class="mb-0">@Model.Sum(p => p.TotalPriceTour).ToString("#,##0.00")VND</p>
                            </div>
                        </div>
                        <div class="py-4 mb-4 border-top border-bottom d-flex justify-content-between">
                            <h5 class="mb-0 ps-4 me-4">Total</h5>
                            <p class="mb-0 pe-4">@Model.Sum(p => p.TotalPriceTour).ToString("#,##0.00")VND</p>
                        </div>
                        <form >
                            <button asp-action="Checkout" asp-controller="Cart" class="btn border-secondary rounded-pill px-4 py-3 text-danger text-uppercase mb-4 ms-4" type="submit">Thanh Toán</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Cart Page End -->

</body>




