@model BookingTourHutech.ViewModels.DetailTourVM

@{
    ViewData["Title"] = "Detail";
}

<body>
	<div class="container-fluid py-5 mt-5">
		<div class="container py-5">
			<div class="row g-4 mb-5">
				<div class="col-lg-8 col-xl-9">
					<div class="row g-4">
						<div class="col-lg-6">
							<div class="border rounded">
								<a class="text-decoration-none" asp-action="ViewMoreImage" asp-controller="Tour" asp-route-id="@Model.TourId">
									<img src="~/images/@Model.ImageTour" class="img-fluid rounded" alt="@Model.TourName">
									<b class="text-info">Xem Thêm Ảnh</b>
								</a>
							</div>
						</div>
						<div class="col-lg-6">
							<h4 class="fw-bold mb-3">@Model.TourName</h4>
@* 							 							<p class="mb-3">Loại: @Model.CategoryName</p>
 *@														<h5 class="fw-bold mb-3">Giá Tour: @Model.TourPrice.ToString("#,##0.00")</h5>
							<div class="d-flex mb-4">
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star text-warning"></i>
								<i class="fa fa-star"></i>
							</div>
							<p class="mb-4">@Model.TourDescription</p>
							<form asp-action="AddToCart" asp-controller="Cart" asp-route-id="@Model.TourId">
								<div style="height:70px">
									
								</div>
								<button class="btn border border-secondary rounded-pill px-4 py-2 mb-4 text-info"><i class="fa fa-shopping-bag me-2 text-info"></i>Đặt Ngay</button>
							</form>
						</div>
						<div class="col-lg-12">
							<nav>
								<div class="nav nav-tabs mb-3">
									<button class="nav-link active border-white border-bottom-0" type="button" role="tab"
											id="nav-about-tab" data-bs-toggle="tab" data-bs-target="#nav-about"
											aria-controls="nav-about" aria-selected="true">
										Mô Tả Chi Tiết
									</button>

								</div>
							</nav>
							<div class="tab-content mb-5">
								<div class="tab-pane active" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
									@Model.TourDescription
								</div>


							</div>
						</div>

					</div>
				</div>
				<div class="col-lg-4 col-xl-3">
					<div class="row g-4 fruite">
						<div class="col-lg-12">
							@await Html.PartialAsync("_TimKiemPanel")
							
						</div>
						<div class="col-lg-12">
							<h4 class="mb-4">Các Tour Gần Đó</h4>
								@await Component.InvokeAsync("SanPhamTT", new { maloai = Model.TourId })

						</div>
					</div>
				</div>
			</div>
			<h1 class="fw-bold mb-0">Các Tour Khác</h1>
			<div class="vesitable">
				<div class="owl-carousel vegetable-carousel justify-content-center">
						@await Component.InvokeAsync("GoiY")

				</div>
			</div>
		</div>
	</div>
</body>
